@model GoogleIncrementalMvcSample.Models.CoursesModel

@{
    ViewData["Title"] = "Home Page";
}

<h3>Google API .NET Client - Incremental Auth Sample</h3>

<table class="table">
    <thead>
        <tr>
            <th>Action</th>
            <th>Scopes Requested</th>
            <th>Result</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            @if (!string.IsNullOrEmpty(ViewData["PersonName"]?.ToString()))
            {
                <td>
                    <a href='@Url.Action("SignOut")'>Sign Out</a>
                </td>
                <td>
                    <span>Signed in as @ViewData["PersonName"]</span>
                </td>
            }
            else
            {
                <td>
                    <a href='@Url.Action("SignIn")'>Sign In</a>
                </td>
                <td>
                    <span>Signed out</span>
                </td>
            }
        </tr>
        <tr>
            <td>
                <a href='@Url.Action("ListCourses")'>Get a list of Google Classroom classes</a>
            </td>
            <td>
                @if (Model?.Courses != null)
                {
                    <p>@ViewData["PersonName"]'s classes:</p>
                    <ol>
                        @foreach (var course in Model.Courses)
                        {
                            <li>@course.CourseName</li>
                        }
                    </ol>
                }
            </td>
        </tr>
    </tbody>
</table>